* {
  padding: 0;
  border: 0;
}

body {
  background: #e5e5e5;
}

.wrapper {
  width: 960px;
  margin: 15px 15%;
  text-align: center;
  background-color: #fff;
  box-shadow: 8px 8px 4px #454545;
  border-radius: 20px;
  padding: 1%;
}

header{
  width: auto;
  height: 200px;
  margin: 1% 5% 1% 5%;
  background: url(mountain.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Days One', sans-serif;
  font-size: 1.2em;
}

h1 {
  padding-top: 7%;
}

p {
  text-align: left;
}

.inlineBlock{
  max-width: 960px;
  margin: 0 auto;
}

.aboutme {
  background-color: #bbb;
  width: 29%;
  float: left;
  padding: 1%;
  margin:1%;
}

.aboutme:hover {
  color: #fff;
  box-shadow: 4px 4px 2px #454545;
  transition: .6s;
}

.clearfloat{
  clear: left;
}
