<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lion King Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:each="account, iterationStatus : ${list} "
     th:style="${account.king} ? 'color : gold' : 'color : black' ">
    <p th:text="${iterationStatus.count}+ '. ' + 'Name: ' + ${account.name} + ' Animal type: ' + ${account.animalType} + ' Balance: ' + ${#numbers.formatDecimal(account.balance, 0, 'COMMA', 2, 'POINT') + ' Zebra,'} + (${account.goodGuy} ? ' Good guy' : ' Bad guy')"/>

    <form action="#" th:action="@{/add?id=} + ${iterationStatus.count}" th:object="${accounts}" method="post">
        <button name="Add 10 zebras"> Add 10 zebras</button>
    </form>
</div>

</body>
</html>